@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
body {
  background: url(../images/bg_home1.jpg);
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", cursive;
  color: #ebe8dd; }

a {
  color: #826e6f;
  border-bottom: 1px dotted rgba(135, 83, 97, 0); }
  a:hover {
    color: rgba(135, 83, 97, 0.91);
    border-bottom: 1px dotted rgba(135, 83, 97, 0.91); }

#menu-main-menu-1 {
  margin: 60px 0 0 40px; }
  #menu-main-menu-1 li {
    list-style: none;
    list-style-type: none;
    float: left;
    padding: 0 15px; }
    #menu-main-menu-1 li a {
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #826e6f; }
      #menu-main-menu-1 li a:hover {
        color: rgba(135, 83, 97, 0.91);
        border-bottom: 1px dotted #826e6f;
        padding-bottom: 3px; }
  #menu-main-menu-1 li:nth-of-type(2) {
    padding-left: 0; }

.header .top-menu {
  margin-top: 15px; }

.header .row {
  margin-bottom: 0; }

.header .tab-bar {
  background: #974E3F; }

.header .left-small {
  border-right: 1px solid #fff; }

.logo {
  transition: .2s all; }
  .logo:hover {
    opacity: .8; }

.fb {
  margin-left: 30px;
  float: right; }

.home .home-img-1 {
  background-position: left top;
  background-size: 90%;
  background-repeat: no-repeat;
  min-height: 270px; }

.home .block {
  min-height: 270px; }

.home .scripture {
  color: #ebe8dd;
  font-size: 1.45rem;
  font-family: "Patua One", cursive;
  letter-spacing: 1px;
  padding: 30px;
  min-height: 270px;
  background: #865260;
  transition: .3s all; }
  .home .scripture:hover {
    background: rgba(135, 83, 97, 0.91); }
  .home .scripture span {
    float: right;
    display: block;
    margin-top: 15px;
    margin-right: 10px; }

.home .contact-wrap .contact {
  background: #826e6f;
  padding: 30px;
  color: #ebe8dd;
  transition: .3s all; }
  .home .contact-wrap .contact .phone {
    font-size: 1.55rem;
    font-family: "Patua One", cursive; }
  .home .contact-wrap .contact .email a {
    color: #ebe8dd;
    font-size: 1.05rem;
    border-bottom: 1px dashed #bdb9ab;
    padding-bottom: 5px; }
  .home .contact-wrap .contact:hover {
    background: rgba(130, 111, 112, 0.87); }

.home .events-wrap {
  color: #ebe8dd; }
  .home .events-wrap h4, .home .events-wrap h5 {
    font-size: 1.45rem;
    font-family: "Patua One", cursive;
    letter-spacing: 1px; }
  .home .events-wrap .events {
    padding: 15px 30px;
    min-height: 270px;
    transition: .3s all;
    background: #865260;
    transition: .3s all; }
    .home .events-wrap .events:hover {
      background: rgba(135, 83, 97, 0.91); }
    .home .events-wrap .events a {
      color: #ebe8dd;
      border-bottom: 1px dashed #bdb9ab;
      padding-bottom: 5px; }

.home .home-slide-1 li, .home .home-slide-2 li {
  display: none; }

.home .slick-slider {
  margin: 0; }
  .home .slick-slider li {
    list-style: none; }

#gallery-wrap {
  background: #5f615e;
  padding: 30px 0; }
  #gallery-wrap .row {
    margin-bottom: 0px; }
  #gallery-wrap h3 {
    text-align: center; }
  #gallery-wrap .circle {
    background: grey;
    min-height: 200px;
    border-radius: 50%;
    width: 200px;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer; }
  #gallery-wrap .masks {
    background-size: 102%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s ease-in-out; }
    #gallery-wrap .masks:hover {
      transform: rotate(-3deg);
      background-size: 110%; }

#about-wrap {
  padding: 30px 0; }
  #about-wrap .block {
    min-height: 278px; }
  #about-wrap .about {
    font-size: 1.45rem;
    font-family: "Patua One", cursive;
    letter-spacing: 1px;
    padding: 15px 30px;
    min-height: 270px;
    transition: .3s all;
    background: #826e6f;
    transition: .3s all; }
    #about-wrap .about:hover {
      background: rgba(130, 111, 112, 0.87); }
    #about-wrap .about .about-home-txt {
      font-family: "Raleway", sans-serif; }
      #about-wrap .about .about-home-txt p {
        font-size: 1.3rem;
        color: #ebe8dd;
        margin-top: 15px;
        line-height: 35px; }
      #about-wrap .about .about-home-txt a {
        color: #ebe8dd;
        border-bottom: 1px dotted #ebe8dd; }

.gallery-pics {
  min-height: 263px; }
  .gallery-pics .gallery-list {
    margin: 0; }
    .gallery-pics .gallery-list li {
      float: left;
      list-style: none;
      width: 100%;
      background: #5f615e;
      transition: .2s all; }
      .gallery-pics .gallery-list li a {
        width: 100%;
        display: block;
        height: 65px; }
        .gallery-pics .gallery-list li a img {
          float: left;
          height: 65px; }
        .gallery-pics .gallery-list li a h3 {
          margin: 0;
          padding: 13px 20px;
          float: left; }
      .gallery-pics .gallery-list li:hover {
        background: rgba(135, 83, 97, 0.91); }
    .gallery-pics .gallery-list li:nth-of-type(1) {
      border-bottom: 1px solid #fff; }
      .gallery-pics .gallery-list li:nth-of-type(1) img {
        border-right: 1px solid #fff; }
    .gallery-pics .gallery-list li:nth-of-type(2) {
      border-bottom: 1px solid #fff; }
      .gallery-pics .gallery-list li:nth-of-type(2) img {
        border-right: 1px solid #fff; }
    .gallery-pics .gallery-list li:nth-of-type(3) {
      border-bottom: 1px solid #fff; }
      .gallery-pics .gallery-list li:nth-of-type(3) img {
        border-right: 1px solid #fff; }
    .gallery-pics .gallery-list li:nth-of-type(4) img {
      border-right: 1px solid #fff; }

.gallery-wrap .gallery-title {
  color: #826e6f;
  text-align: center; }

.post-title {
  color: #826e6f; }
  .post-title .post-type {
    text-transform: capitalize; }

.page-title {
  color: #826e6f; }

.single-gallery #main ul, .single-event #main ul {
  margin: 0; }
  .single-gallery #main ul li, .single-event #main ul li {
    float: left;
    list-style: none; }
    .single-gallery #main ul li img, .single-event #main ul li img {
      margin: 10px;
      border: 2px solid #fff; }

.sidebar {
  margin-top: 12px; }

#map {
  height: 550px; }
  #map #map-canvas {
    width: 100%;
    height: 100%;
    z-index: 1; }

.wpcf7-response-output {
  float: right; }

@media only screen and (min-width: 20em) and (max-width: 40em) {
  .logo {
    display: block;
    margin: 0 auto; }
  .home-slide-1, .home-slide-2, .about-img {
    width: 270px;
    height: 270px;
    margin: 0 auto !important;
    display: block; }
  .columns {
    margin-bottom: 30px; } }

@media only screen and (min-width: 40.063em) {
  .logo {
    display: block;
    margin: 0 auto; }
  .home-slide-1, .home-slide-2, .about-img {
    width: 270px;
    height: 270px;
    margin: 0 auto !important;
    display: block; }
  .columns {
    margin-bottom: 30px; } }

/* min-width 641px, medium screens */
